# Private coropra
corpora/*
!corpora/susanne/
!corpora/emagyardemo/
!corpora/registry/susanne
!corpora/registry/emagyardemo

# Compiled corpora
corpora/**/indexed/*

# Certificates specific to deployment
conf/sp.for.eduid.service.hu-cert.crt
conf/sp.for.eduid.service.hu-key.crt

# Let's encrypt's certificate cache
letsencrypt/

# Temp files
conf/page-dashboard.tag

# PyCharm
.idea
