#!/bin/bash

# SOURCE THIS FILE TO LOAD (EXPORT) VARIABLES TO THE ENVIRONMENT: source env.sh
# Here we can use bash's advanced variable interpolation magic to set variables in contrast to docker-compose's
# Need to use export to make variables available for docker-compose!

export PORT=10070
export IMAGE_NAME=eltedh/nosketch-engine
export CONTAINER_NAME=noske
export CORPORA_DIR=$(pwd)/corpora
export SERVER_NAME=https://sketchengine.company.com/
export SERVER_ALIAS=sketchengine.company.com
export CITATION_LINK=https://github.com/elte-dh/NoSketch-Engine-Docker
export PRIVATE_KEY=$(cat secrets/sp.for.eduid.service.hu-key.crt 2> /dev/null)
export PUBLIC_KEY=$(cat secrets/sp.for.eduid.service.hu-cert.crt 2> /dev/null)
export HTACCESS=$(cat secrets/htaccess 2> /dev/null)
export HTPASSWD=$(cat secrets/htpasswd 2> /dev/null)
export LETS_ENCRYPT_EMAIL=dummy@email.com

if [[ -z "$QUIET" ]]; then
    echo "Setting (updating) the following environment variables (set \$QUIET to any non-zero length value " \
     "to suppress this output):"
    echo
    echo "PORT=${PORT}"
    echo "IMAGE_NAME=${IMAGE_NAME}"
    echo "CONTAINER_NAME=${CONTAINER_NAME}"
    echo "CORPORA_DIR=${CORPORA_DIR}"
    echo "SERVER_NAME=${SERVER_NAME}"
    echo "SERVER_ALIAS=${SERVER_ALIAS}"
    echo "CITATION_LINK=${CITATION_LINK}"
    echo "PRIVATE_KEY=${PRIVATE_KEY}"
    echo "PUBLIC_KEY=${PUBLIC_KEY}"
    echo "HTACCESS=${HTACCESS}"
    echo "HTPASSWD=${HTPASSWD}"
    echo "LETS_ENCRYPT_EMAIL=${LETS_ENCRYPT_EMAIL}"
    echo
    echo "End of list"
fi
