# Copy and uncomment the appropriate lines from below to htaccess file
### Uncomment for basic auth ###
# Require valid-user
# AuthType Basic
# AuthName "Restricted Content"
# AuthUserFile /var/lib/bonito/htpasswd

### Uncomment for Shibboleth auth ###
# Require shib-session
# AuthType shibboleth
# ShibUseHeaders On
# ShibRequireSession On
